.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 0 0 80px 0;
    margin: 0 0 70px 0;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth; /* 부드러운 스크롤 */
    will-change: scroll-position;
}

/* Chrome, Safari 등의 브라우저에서 스크롤바 숨기기 */
.container::-webkit-scrollbar {
    display: none;
}

/* iOS의 스크롤 동작을 부드럽게 만들기 */
@supports (-webkit-touch-callout: none) {
    .container {
        -webkit-overflow-scrolling: touch;
    }
}

.TopBar{
    background-color: #FFFFFF;
    width: 100%;
    height: 62px;
    margin: 0 0 -1px 0;
}

/*프로필*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 90px;
    background-color: #FFFFFF;
}

.profile{
    display: flex;
    flex-direction: center;
    align-items: center;
    gap: 15px;
    width: 328px;
    height: 66px;
    flex-shrink: 0;
}

.userProfile{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #BEBEBE;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    width: 300px;
}

.userInfoRow1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 6px;
    width: 250px;
    
}

.userName{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.userAge{
    font-size: 15px;
    font-weight: 400;
    color: #5C5C5C;
}

.logoutBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: transparent;
}

.userInfoRow2{
    display: flex;
    justify-content: center;
    gap: 6px;
}

.reviewLabel, .reviewCount{
    color: #5C5C5C;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.manageBtnContainer{
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.profileManageBtn, .accountSettingBtn{
    width: 152px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 27px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #5C5C5C;
    font-size: 12px;
    font-weight: 400;
}

/*리뷰*/
.reviewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 215px;
    margin: 34px 0 0 0;
    flex-shrink: 0;
    border-radius: 27px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    overflow: hidden;
}

.reviewHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    align-items: center;
    margin: 23px 0 26px 0;
}

.containerLabel{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100%;
    flex-shrink: 0;
}

.containerLabel span{
    color: #113C35;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.containerLabel span:last-child{
    color: #113C35;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
}

.reviewBtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 31px;
    flex-shrink: 0;
    padding: 0;
    border-radius: 27px;
    border: 0.8px solid #5C5C5C;
    color: #5C5C5C;
    background-color: #FFFFFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 15.6px */
}

.reviewList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
}

/*리워드*/
.rewardsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 185px;
    margin: 20px 0 0 0;
    border-radius: 27px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}

.rewardsHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    margin: 23px 0 30px 0;
}

.rewardsBtn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    width: 20px;
    height: 30px;
    outline: none;
    border: none;
    background-color: transparent;
}

.rewardsBtn:active, .rewardsBtn:focus{
    outline: none;
    border: none;
}

.bigComment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 0 15px 0;
}

.bigComment p{
    margin: 0 0 0 0;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.smallComment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 90%;
}

.rewardsCommentIcon{
    position: absolute;
    top: -25px;
    left: 5px;
}

.smallComment p{
    position: absolute;
    top: -15px;
    left: 15px;
    margin: 0 0 0 0;
    color: #747474;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 14.3px */
}

.rewardsContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 0 20px 0;
}

.rewardsGraph{
    width: 85%;
    height: 10px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #D5F8F3;
    overflow: hidden;
}

.rewardsGraphDegree{
    background-color:  #2DDDC3;
    height: 100%; /* 높이를 100%로 고정 */
    border-radius: 27px;
    transition: width 0.3s ease; /* 너비 변화에 애니메이션 효과 추가 */
}

.rewardsIcon{
    margin: 0 5px 0 0;
}

/*북마크*/
.bookmarkContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 27px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    margin: 20px 0 20px 0; /* transform 대신 margin 사용 */
    transition: min-height 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* transition 최적화 */
    will-change: min-height; /* 변화 예고 */
    transform: translateZ(0); /* 하드웨어 가속 */
}

.bookmarkHeader{
    display: flex;
    justify-content: space-between;
    width: 87%;
    align-items: center;
    margin-top: 23px; 
}

.bookmarkList{
    width: 92%;
    min-height: 100%;
    margin: 20px 0 0 0;
}


/*버튼 효과*/
.reviewBtn, .reviewBtn:hover, .reviewBtn:active, .reviewBtn:focus{
    outline: none;
    border: 0.8px solid #5C5C5C;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
}