.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding: 0 0 0 0;
    text-align: center;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

.reviewInfo{
    display: flex;
    align-items: center;
    width: 100%;
    height: 104px;
    margin: 25px 0 0 0;
}

.enterpriseIcon{
    width: 109px;
    height: 109px;
    margin: 0 0 0 30px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.reviewMetadata{
    text-align: left;
    margin: 0 0 0 15px;
}

.reviewMetadata p:first-child{
    color: #5C5C5C;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.reviewMetadata p{
    margin: 0 0 0 0;
    color: #5C5C5C;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.reviewMetadata p:last-child{
    margin: 10px 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.keywordSection{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 90%;
    height: 80px;
    flex-shrink: 0;
    margin: 45px 0 0 30px;
    padding: 0 30px 0 0;
    text-align: center;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth; 
    white-space: nowrap;
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari, Opera */
.keywordSection::-webkit-scrollbar {
    display: none;
 }

.categoryLabel{
    text-align: left;
}

.category{
    padding: 0 0 0 25px;
    margin: 0 0 7px 0;
    font-size: 15px;
    font-weight: 600;
    color: #009C7A;
}

.keywordList{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    min-width: 200px; /* 각 카테고리 블록의 최소 너비 */
    border-radius: 10px;
    text-align: left;
}


.keyword{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin: 0 0 0 0;
    padding: 0 20px 0 20px;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    border-radius: 22.5px;
    background-color: #2DDDC3;
}

.keywordGraphBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 344px;
    flex-shrink: 0;
    margin: 20px 0 0 0;
    border-radius: 25px;
    background: linear-gradient(180deg, #FFF 60.44%, #ADF9EE 165.27%, #2DDDC3 204.04%);
    box-shadow: 0px 4px 5.5px 1px rgba(0, 0, 0, 0.25);
}

.keywordGraphBox p:nth-child(1){
    margin: 48px 0 3.5px 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
    
}

.keywordGraphBox p:nth-child(2){
    margin: 0 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
}

.keywordGraphBox p:nth-child(5){
    margin: 13px 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 183.333% */
}

.keywordGraphBox p:nth-child(6){
    margin: 0 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 183.333% */   
}

.graphSection{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 28px;
    width: 98px;
    height: 104px;
    flex-shrink: 0;
    margin: 29px 0 0 0;
    z-index: 2;
}

.allGraphDegree{
    width: 31px;
    max-height: 104px;
    flex-shrink: 0;
    border-radius: 26.5px 26.5px 0px 0px;
    background-color: #FF6C6A40;
    transition: height 0.3s ease;
}

.userGraphDegree{
    width: 31px;
    max-height: 104px;
    flex-shrink: 0;
    border-radius: 26.5px 26.5px 0px 0px;
    background-color: #FF6C6A;
    transition: height 0.3s ease;
}

.graphComment{
    display: flex;
    position: relative;
    align-items: center;
    width: 105px;
    height: 22px;
    margin: 10px 0 0 0;
    flex-shrink: 0;
}

.graphComment span:nth-child(1){
    position: absolute;
    left: 0;
    margin: 0 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 110% */
}
.graphComment span:nth-child(2){
    position: absolute;
    left: 46%;
    margin: 0 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
}
.graphComment span:nth-child(3){
    position: absolute;
    right: 0;
    margin: 0 0 0 0;
    color: #5C5C5C;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
}

.reviewBox{
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
    min-height: 177px;
    margin: 25px 0 0 0;
    border-radius: 25px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
}

.reviewInput{
    width: 275px;
    height: 130px;
    margin: 35px 30px 35px 30px;
    background-color: transparent;
    color: #000000;
    outline: none;
    border: none;
    font-size: 15px; /* 글자 크기 */
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
}

.reviewInput:focus {
    border-color: #5C5C5C;
}

.characterCount {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #5C5C5C;
    font-size: 12px;
    font-weight: 400;
}

.reviewInput::placeholder {
    color: #5C5C5C;
}

.submitBtn {
    width: 302px;
    height: 59px;
    margin: 57px 0 52px 0;
    border-radius: 27px;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
  
.submitBtn:disabled {
    background-color: #D9D9D9;
    cursor: not-allowed;
}
  
.submitBtn:enabled {
    background-color: #5C5C5C;
    color: white;
}