.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.comment p:first-child{
    margin: 10px 0 20px 0; 
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
}

.comment p{
    margin: 0 0 0 0;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.content{
    margin: 50px 0 0 0;
    width: 100%;
    height: 450px;
}

.ageSection{
    margin: 0 0 0 0;
    width: 100%;
}

/* SelectAge.module.css에 추가할 스타일 */
.dateInputs {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 5px 0;
}

.inputYear {
    display: flex;
    align-items: center;
    gap: 4px;
}

.inputMonth {
    display: flex;
    align-items: center;
    gap: 4px;
}

.inputDate {
    display: flex;
    align-items: center;
    gap: 4px;
}

.inputYear input {
    width: 89px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 13px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}

.inputMonth input {
    width: 37px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 13px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}


.inputDate input {
    width: 37px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 13px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}

.inputYear input::placeholder {
    color: #999;
}

.inputMonth input::placeholder {
    color: #999;
}

.inputDate input::placeholder {
    color: #999;
}

.inputYear span {
    margin: 0 0 0 7px;
    color: #5C5C5C;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.inputMonth span {
    margin: 0 0 0 7px;
    color: #5C5C5C;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.inputDate span {
    margin: 0 0 0 7px;
    color: #5C5C5C;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 19.5px */
}

.nextBtn {
    margin: 35px 0 60px 0;
    width: 302px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #D9D9D9;
}

.nextBtn p{
    margin: 0 0 0 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
}

.nextBtn.active {
    opacity: 1;
    cursor: pointer;
}

.active{
    margin: 35px 0 60px 0;
    width: 302px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 27px;
    background: #5C5C5C;
    cursor: not-allowed;
}