/*categoryModal*/
.categoryModalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.categoryModalBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #BEBEBE;
    opacity: 0.5;
    z-index: 4;
}

.categoryModalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 243px;
    height: 450px;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF;
    box-shadow: 0 -5px 10px -9px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    z-index: 5;
}

.categoryModalHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
    height: 30px;
    margin: 20px 0 0 20px;
}

.modalName{
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 900;
}

.modalMemo{
    margin: 0 0 0 0;
    font-size: 9px;
    color: #BEBEBE;
}

.categoryBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 80%;
    height: 263px;
    margin: 20% 0 0 0;
}

.category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 64px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #D3D3D3;
    font-size: 12px;
}

.selectedCategory {
    background-color: #4CAF50; /* 선택된 카테고리의 배경색 변경 */
    color: white; /* 텍스트 색상을 흰색으로 변경 */
}

.okay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
}