/* 슬라이드 애니메이션 수정 */
@keyframes slideUp {
    from {
        transform: translateY(calc(100% - 150px));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(100% - 150px));
    }
}

.listModalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    pointer-events: none; /* 초기에는 배경 클릭 비활성화 */
}

.listModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.listModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84%;
    background-color: #FFFFFF;
    box-shadow: 0 -5px 10px -9px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transform: translateY(calc(100% - 135px)); /* 초기에 100px만큼만 보이도록 */
    transition: transform 0.3s ease;
    z-index: 3;
    pointer-events: auto; /* 모달 내용은 항상 클릭 가능 */
}

/* 활성화됐을 때 스타일 */
.listModalContainer.active {
    pointer-events: auto; /* 활성화 시 배경 클릭 가능 */
}

.listModalContainer.active .listModalBackground {
    background-color: rgba(0, 0, 0, 0.15);
}

.listModalContainer.active .listModalContent {
    transform: translateY(0); /* 완전히 올라옴 */
}

.listModalHeader{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    margin: 5% 0 0 0;
}

.alignmentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 105px;
    height: 33px;
    padding: 0 2px 0 2px;
    margin: 0 0 0 0;
    border-radius: 15px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignmentIcon{
    width: 16px;
    height: 13px;
}

.companySorting{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 26px;
    margin: 13px 0 0 30px;
}

.sortingReviewBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 26px;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}

.sortingRecommendationBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 26px;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}

.selectedSorting{
    background-color: #BEBEBE;
    color: #FFFFFF;
}

.companyList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 75%;
    margin: 5% 0 0 0;
    overflow-y: auto; 
    scroll-behavior: smooth; 
    overflow-x: hidden; 
}

.socialEnterprise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 90%;
    min-height: 120px;
    gap: 10px;
    padding: 0 0 8px 0;
    margin: 0 0 5px 0;
    border-bottom: 1px solid #D3D3D3;
}

.socialEnterprise.addressOpen {
    height: 180px;  /* 원하는 높이로 조정 가능 */
}

.averageRecommendation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.graph{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 18px;
    height: 67px;
    border-radius: 8px 8px 0 0;
    background-color: #2DDDC320;
    overflow: hidden;
}

.graphDegree{
    width: 18px;
    border-radius: 8px 8px 0 0;
    background-color: #2DDDC3;
    transition: height 0.3s ease;
}

.averageRecommendationP{
    font-size: 9px;
    font-weight: 500;
}


.listRow1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 70%;
    margin: 0 0 0 0;
}

.listRow2, .listRow3{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 13px;
    width: 70%;
    margin: 0 0 0 0;
}

.listCompanyName{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 0;
    background-color: transparent;
}

.companyNameFront{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 0;
    color:#009C7A;
    font-size: 15px;
    font-weight: 500;
}

.companyNameBack{
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 0;
    color:#009C7A;
    font-size: 15px;
    font-weight: 500;
}

.typeInfo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 2px;
    right: 0;
}

.listSocialPurposeType{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    margin: 0 0 0 0;
    color: #BEBEBE;
    font-size: 12px;
    font-weight: 500;
}

.listAddressBtn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 93px;
    height: 20px;
    padding: 0 0 0 0;
    background-color: transparent;
}

.listAddress{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 77px;
    height: 20px;
    padding: 0 0 0 0;
    background-color: transparent;
}

.mainAddress{
    position: absolute;
    left: 0;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
}

.listAddressIcon{
    width: 10px;
    height: 10px;
    transition: transform 0.2s ease;
}

.detailedAddressBox {
    position: absolute;  /* 절대 위치로 설정 */
    top: 100%;          /* 버튼 바로 아래에 위치 */
    left: 0;
    width: 100%;
    height: 48px;
    background-color: #ffffff;  /* 배경색 */
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);  /* 그림자 효과 */
    z-index: 10;        /* 다른 콘텐츠 위에 표시되도록 */
    border: 1px solid #eee;
    margin-top: 4px;    /* 버튼과의 간격 */
}

.detailedAddressContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.detailAddressP{
    padding: 0 0 0 20px;
    color: #BEBEBE;
    font-size: 10px;
    font-weight: 500;
}

.detailAddress{
    color: #000000;
    font-size: 9px;
    font-weight: 500;
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 10px;
    width: 8px;
    height: 8px;
    padding: 0 0 0 0;
    background-color: transparent;
}

.listReviewCount{
    width: 50px;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
}

.listInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    height: 26px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-radius: 14px;
    background-color: #7B7878;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
}

.storeInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 26px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-radius: 14px;
    background-color: #FFFFFF;
    border: 1px solid #5C5C5C;
    color: #5C5C5C;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
