.regionModalContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 50px 50px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 1000;
  transform-origin: left center;
}

@keyframes slideOutLeft {
  0% {
      transform: translateX(0);
      opacity: 1;
  }
  100% {
      transform: translateX(-100%);
      opacity: 0;
  }
}

.slideOutLeft {
  animation: slideOutLeft 0.3s ease-out forwards;
}

  .regionModalHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 62px 0 0 0;
    width: 100%;
  }

  .backBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 30px;
    background-color: transparent;
  }

  .modalName{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 26px */
  }
  
  .regionModalContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    height: 555px;
    animation: slideInLeft 0.3s ease-out;
    z-index: 3;
  }

  .regionGrid{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 190px;
  }

  .regionButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 186px;
    height: 40.3px;
    flex-shrink: 0;
    margin: 0 0 0 2px;
    padding-left: 20px; /* 텍스트 여백 추가 */
    transform: 0;
    text-align: left;
    background-color: #FFFFFF;
    -webkit-tap-highlight-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%; /* 배경 이미지 크기 조정 */
}

  .cityGrid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 185px;
    height: 550px; /* 고정된 높이 설정 */
    overflow-y: auto; /* 세로 스크롤만 허용 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
    -webkit-overflow-scrolling: touch; /* iOS 스크롤 부드럽게 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
    -ms-overflow-style: none; /* IE 스크롤바 숨기기 */
  }

  .cityButton{
    width: 165px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    text-align: left;
    background-color: #FFFFFF;
    -webkit-tap-highlight-color: transparent;
  }

  .selected{
    color: #000000;
    background: #2DDDC3;
  }

  .disabled{
    background-color: #FFFFFF;
    color: #D9D9D9;
  }

  .disabled, .disabled:active, .disabled:focus {     
    outline: none;     
    border: none;     
    box-shadow: none; 
  }

  .confirmButton{
    margin: 10px 0 0 0;
    width: 302px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 27px;
    background-color: #5C5C5C;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
  }

  .regionButton:active, .regionButton:focus,
  .cityButton:active, .cityButton:focus{
    outline: none;
    border: none;
    box-shadow: none;
    transform: scale(1);
  }


  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }