/*categoryModal*/

.typeModalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    pointer-events: auto;
}

.typeModalBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: #BEBEBE;
    opacity: 0.5;
    z-index: 4;
    pointer-events: auto;
}

.typeModalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 243px;
    height: 380px;
    padding: 0 20px 0 20px;
    background-color: #FFFFFF;
    box-shadow: 0 -5px 10px -9px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    z-index: 5;
}

.typeModalHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
    height: 30px;
    margin: 20px 0 0 20px;
}

.typeBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 250px;
    margin: 8% 0 0 0;
}

.row{
    display: flex; /* 이 속성으로 컨테이너를 flex 컨테이너로 설정 */
    flex-direction: row; /* 아이템들을 수평 방향으로 나열 */
    align-items: center; /* 아이템들을 수직 방향(가로 방향의 교차 축)에서 가운데 정렬 */
    justify-content: space-between; /* 아이템들 사이에 균등한 간격을 두고 정렬 */
    gap: 5px;
}

.typeButton, .education, .health, .environment, .childcare, 
.manufacturing,.distribution, .others, .all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}
.socialWelfare, .cultureArt, .tourismSports, .housekeepingCare,
.regionalDevelopment, .informationTechnology   {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.forestConservationManagement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.culturalHeritageConservationUtilization {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.employmentServices {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.facilityManagementCleaning {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.socialServiceProvision {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.greenEnergy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 14px;
    border: 1px solid #BEBEBE;
    background-color: #FFFFFF;
    color: #747474;
    font-size: 12px;
    font-weight: 500;
}

.selectedType{
    background-color: #747474;
    color: #FFFFFF;
    border: none;
}

.modalName{
    margin: 0 0 0 0;
    font-size: 15px;
    font-weight: 600;
}

.modalMemo{
    margin: 0 0 0 0;
    font-size: 9px;
    color: #BEBEBE;
    font-weight: 500;
}

.okay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
    color: #000000;
}
